.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
 
}

.header {
  overflow: hidden;
  background-color:#f44336;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
}

/* Style the header links */
.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
  float: left;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: black;

  color: white;
}

/* Style the active/current link*/
.header a.active {

  color:white;
}

/* Float the link section to the right */
.header-right {

}
.header-left {

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

.titulos{
  font-size: 90px;
  color: white;
  background-color: black;
}
.btn {
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border: #d8d8d8;
  border-width: 3px;
  border-style: solid;
  border-radius:35px;
}
/*Si comento de la 90-97 se feo por si queremos hacer otra cosa*/
/* Green */
.success {
  border-color: #04AA6D;
  color: white;
  margin-top: 1%;
  margin-bottom: 1%;
  text-decoration:none;
  background-color: black;
  border-color: #04AA6D;
  border-width: 3px;
  border-style: solid;
  border-radius:35px;
  box-shadow: 4px 3px 8px 6px #04aa95;
  margin-left: 5%;


}

.success:hover {
  background-color: #04AA6D;
  color: white;
}

/* Blue */
.info {
  border-color: #2196F3;
  margin-top: 1%;
  margin-bottom: 1%;
  text-decoration:none;
  background-color: black;
  color: white;
border-width: 3px;
border-style: solid;
border-radius:35px;
box-shadow: 4px 3px 8px 6px #2196F3;
margin-left: 5%;


}

.info:hover {
  background: #2196F3;
  color: white;
}

/* Orange */
.warning {
  border-color: #f44336;
  color: #f44336;
  margin-top: 1%;
  margin-bottom: 1%;
  text-decoration:none;
  background-color: black;
  color: white;
border-width: 3px;
border-style: solid;
border-radius:35px;
box-shadow: 4px 3px 8px 6px #f44336;
margin-left: 5%;


}

.warning:hover {
  background: #f44336;
  color: white;
}

/* Red */
.danger {
  border-color: #ff9800;
  color:#ff9800;
  margin-top: 1%;
  margin-bottom: 1%;
  text-decoration:none;
  background-color: black;
  color: white;
border-width: 3px;
border-style: solid;
border-radius:35px;
box-shadow: 4px 3px 8px 6px #ff9800;
margin-left: 5%;

}

.danger:hover {
  background: #ff9800;
  color:white;
}

/* Gray */
.default {
  border-color: #e7e7e7;
  color: black;
  margin-top: 1%;
  margin-bottom: 1%;
  text-decoration:none;
  background-color: black;
  color: white;
border-width: 3px;
border-style: solid;
border-radius:35px;
box-shadow: 4px 3px 8px 6px #e7e7e7;
margin-left: 5%;

}

.default:hover {
  background: #e7e7e7;
}
.botones{
  display: flex;
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 35px 282px;
  font-size: 16px;
  cursor: pointer;
  padding: 10 px;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 50%;
  
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
